@media print {
  h1{
    text-align: left;
    color: Black;
    font-family: "Arial Black", Gadget, sans-serif;
  }

  h2{
    text-align: center;
    font-family: sans-serif;
  }

  p1{
      font-family: "Arial", cursive, sans-serif;
  }
  img{
    max-width: 100%;
  }

  .containerTrain{
    width: 50%;
    float: left;
  }

  ul{
    display: none;
  }

  .wrapper{
    width: 100%;
  }

  .container{
    height: auto;
    width: 33%;
    float: left;
  }

  object{
    display: none;
  }

  .player{
    display: none;
  }

  .mobileNav{
    display: none;
  }

  .slider{
    display: none;
  }

  .timeline{
    display: none;
  }

  .Live{
    display: none;
  }

}
