@media screen {

  body{
    margin: 0;
    background-color: white;
    text-align: center;
  }

  h1{
    text-align: left;
    color: rgb(22, 67, 114);
    font-family: "Arial Black", Gadget, sans-serif;
  }
  .main{
    text-align: center;
    color: black;
  }
  h2{
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
  }

  p1{
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  img{
    max-width: 100%;
  }


  table{
    max-width: 100%;
  }

  form{
    padding-top: 20px;
  }

  .navigation{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(42, 43, 45);
    z-index: 5;
  }

   .navigation li{
    background-color: black;
    float: left;
    display: block;
    width: 60px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-right: 5px;
    margin-bottom: 5px;

  }

  .navigation li:hover{
    background-color: rgb(67, 81, 112);
  }

  a{
    text-decoration: none;
    color: white;
    padding: 8px;
    font-family: sans-serif;
  }

  .navigation .current{
    background-color: rgb(22, 67, 114);
    font-family: sans-serif;
  }

  .innerNav{
    border-radius: 25px;
    opacity: 0.8;
    background-color: rgb(42, 43, 45);
    list-style-type: none;
    position: fixed;
    align-items: flex-end;
    top: 100px;
    right: 50px;
    padding-right: 20px;
    float: right;
  }
  .innerNav li{
    padding: 5px;
    color: grey;
  }
  .wrapper{
    margin: auto;
    max-width: 60%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .slide{
    display: none;
  }
  .containerTrain{
    width: 50%;
    float: left;
  }
  .mainPicture{
    margin: auto;
    max-width: 40%;
  }

  .containerHorizon{
    max-height: 200px;
    max-width: 100%;
  }

  .containerHorizon img{
    max-height: 156px;
  }
  .containerHorizon img:hover{
    max-height: 160px;
  }

  object{
    max-width: 100%;
  }

  .timeline{
    display: none;
  }

  #map{
    height: 400px;
    width: 100%;
  }

  .pop {
  display: none;
  position: fixed;
  padding: 10px;
  width: 60%;
  min-height: 500px;
  top: 20%;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;
  box-shadow:  0 0 0 9999px rgba(0, 0, 0, 0.5);
  }

  .pop img{
    width: 60px;
  }

  .pop h1{
    text-align: center;
  }

  .popBut{
    height: 70px;
    width: auto;
  }

  .show{
    display:block;
  }

  .slider{
    position: relative;
  }

  .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  }

  .prev{
    background: black;
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: 0;
  }
  .next{
    background: black;
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    right: 0;
  }

  .fade{
    animation-name: fade;
    animation-duration: 2s;
  }

  .mobileGallery{
    display: none;
  }
  @keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
  }
}

@media (max-width: 700px) {

    .Live{
      display: none;
    }

    .slider{
      display: none;
    }
    .mobileGallery{
      display: block;
    }

    .styleName {
      display:none;
    }

    .wrapper{
      margin: auto;
      max-width: 100%;
      margin-top: 100px;
      margin-bottom: 100px;
    }

    p1{
      font-size: small;
    }

    .navigation{
      display: none;
    }
    .innerNav{
      display: none;
    }

    table{
      display: none;
    }

    .timeline{
      display: block;
    }

    .mobileNav{
      background-color: rgb(42, 43, 45);
      position: absolute;
      top: 0;
      width: 100%;

    }

    .mobileNav a, .dropDown{
      text-decoration: none;
      font-size: 20px;
      color: white;
      display: block;
      border: none;
      background: none;
      text-align: center;
    }

    i{
      position: relative;
      text-align: left;
      font-size: 70px;
      padding: 0;
      margin: 0;
      float: left;
    }

    .mobileNav h{
      position: relative;
      float: right;
      font-size: 30px;
      color: white;
      padding-right: 20%;
      padding-top: 25px;
    }

    .dropdownContainer{
      display: none;
    }


    .container{
      width: 100%;
    }

    .containerTrain{
      width: 100%;
    }

    .show{
      display: block;
    }
}
