<!DOCTYPE html>
<html>
      <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% if title %}
          <title>{{ title }}</title>
        {% else %}
          <title> No title specified</title>
      {% endif %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="static/style.css">
      </head>
  <body>
      <div class="login">
        <form action="" method="post" name="login">
          {{ form.hidden_tag()}}
            <h1 class="text-center">Sign Up</h1>

            <div class="form-group">
              <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      {{ form.email(placeholder = 'E-mail', class="form-control" ) }}
                </div>
            </div>
            {% if form.email.errors %}
               <ul class="errors">
                 {% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}
               </ul>
            {% endif %}

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      {{ form.password(placeholder = 'Password', class="form-control") }}
                </div>
            </div>
            {% if form.password.errors %}
               <ul class="errors">
                 {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
               </ul>
            {% endif %}

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      {{ form.confirm(placeholder = 'Repeat Password', class="form-control") }}
                </div>
            </div>
            {% if form.confirm.errors %}
               <ul class="errors">
                 {% for error in form.confirm.errors %}<li>{{ error }}</li>{% endfor %}
               </ul>
            {% endif %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary login-btn btn-block">Create an account</button>
            </div>

            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            </div>
        </form>
      </div>
  </body>
</html>
